mixin textfield(name, labeltext, value, errors, required)
	- if(errors === undefined)
	-	var errors = {}
	.field(class=errors[name] === undefined ? '' : 'error', id=name)
		label(for=name)= labeltext + ':'
		if(required)
			span.required *
		else
			span.required
		input(type='text', name=name, value=value||locals[name])
