include ../../mixins/form

form
	.field
		label(for='_id') Artikelnummer:
		input(type='text', id='_id', name='_id', value=_id, readonly=_id!=null)
		if(_id == null)
			button#generate Generieren
	+textfield('name', 'Name')
	.field
		label(for='productGroupId') Produktgruppe:
		select(id='productGroupId', name='productGroupId')
			for productGroup in translations.productGroups
				if productGroupId == productGroup._id
					option(value=productGroup._id, selected)= productGroup.name
				else
					option(value=productGroup._id)= productGroup.name
	.field
		label(for='supplierId') Lieferant:
		select(id='supplierId', name='supplierId')
			for supplier in translations.suppliers
				if supplierId == supplier._id
					option(value=supplier._id, selected)= supplier.name
				else
					option(value=supplier._id)= supplier.name
	+textfield('supplierProductId', 'Lieferantennummer')
	+textfield('printerline1', 'Druckzeile 1')
	+textfield('printerline1', 'Druckzeile 2')
	+textfield('cost', 'EK', cost?cost.toLocaleString('de-DE', {minimumFractionDigits: 2}):'')
	+textfield('sale', 'VK', sale?sale.toLocaleString('de-DE', {minimumFractionDigits: 2}):'')
	
	button(type='submit') Speichern
