h2= name

ul.tabs
	li.active: a#details-tab(href='#') Details
	li: a#history-tab(href='#') Historie
	li: a(href='#')#arrivals-tab Lagerbestand

.tab-content
	#details.active
		include ./item-form
		button() Drucken
	#history
		table
			for item in history
				tr
					td= item.customerId
					td= item.saleId
					td= item.date
	#arrivals
		form
			label Anzahl
			input(type='text', name='arrival')
			button(type='submit') Hinzufügen
			
		table
			thead
				tr
					th Datum
					th Anzal
			tbody
				for item in arrivals
					tr
						td= formatters.formatDate(item.date)
						td= item.amount
